/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */@font-face{font-family:'PeperoncinoSans';font-weight:400;font-style:normal;src:url("../fonts/peperoncino.eot");src:url("../fonts/peperoncino-.eot#iefix") format("embedded-opentype"),url("../fonts/peperoncino.ttf") format("truetype"),url("../fonts/peperoncino.woff") format("woff"),url("../fonts/peperoncino.svg.html#peperoncino") format("svg")}*,*:after,*:before{box-sizing:border-box}html{color:#222;font-size:1em;line-height:1.4}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}audio,canvas,iframe,img,svg,video{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.browserupgrade{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0}.hidden{display:none !important}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}@media print{*,*:before,*:after,*:first-letter,*:first-line{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}a[href^="#"]:after,a[href^="javascript:"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100% !important}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/***************** GLOBAL ******************/
@media screen and (max-width: 640px) {
.hide-mobile{display:none}
.off-mobile{visibility:hidden}
}
html{font-family:'Open Sans',sans-serif;background:#000}
a{text-decoration:none}
h2{font-size:16px;font-weight:300;color:#f8f5ee;line-height:1.242}
h3{font-size:32px;color:#f8f5ee}
h3 span{font-size:50px;display:block}
p{font-size:18px;color:#f8f5ee;line-height:1.462;text-align:left}
.section{float:left;height:auto;display:block;position:relative;width:100%;overflow:hidden}
.section .inner-page{width:100%}
.hide{display:none}
.left{float:left}
.grow{-webkit-transition:all 2s ease-in-out;transition:all 2s ease-in-out}
.grow:hover{-webkit-transform:scale(1.04);transform:scale(1.04)}
.not-active{opacity:.2!important}
.dark p,.dark h2,.dark h3{color:#4f4642}
#about-pop h1{font-size:50px;font-family:"PeperoncinoSans";color:#646263;line-height:25px}
#about-pop p{font-size:18px;line-height:28px;color:#646263}
#form_errors{display:none;border:1px solid red;border-radius:10px;padding:20px;width:100%;max-width:515px;margin-top:25px}
#form_errors p{color:#646263;margin-top:0;margin-bottom:0;font-size:16px}
#form_errors p:first-child{font-weight:700}
#form_errors .error_img{float:left;margin-top:7px}
#form_errors .error_text{float:left;margin-left:20px}
#form_errors ul{list-style-position:inside;list-style-image:url(../img/form/error-bullet.png);padding-left:0;font-size:16px}
#form_success{display:none;width:100%;max-width:515px;border:1px solid #a4ba73;border-radius:10px;padding:20px}
#form_success p{color:#646263;margin-top:0;margin-bottom:0;font-size:16px}
#form_success .success_text p:first-child{margin-bottom:10px;font-weight:700}
#form_success .success_img{float:left;margin-top:12.5px}
#form_success .success_text{float:left;margin-left:20px}
#contact_form #submit{background-image:url(../img/form/submit.png);background-color:transparent;width:232px;height:51px;color:#fff}
#contact_form #submit:focus{outline:none}
@media screen and (max-width: 480px) {
#form_success .success_img{margin-top:0;margin-left:20px;margin-bottom:15px}
#form_errors{margin-bottom:15px}
#form_errors .error_img{margin-top:0;margin-left:15px;margin-bottom:15px}
}
.section .inner-page{position:relative;height:100%;width:100%}
.big-text-box{padding:50px 35px;z-index:10}
.big-text-box h3{font-family:"PeperoncinoSans";font-weight:400;line-height:38px;font-size:32px}
.big-text-box h3 span{font-size:50px;font-weight:400}
.big-text-box p{padding:0;margin-bottom:0}
.title-cloud{-o-border-image:url(../img/assets/line_dark.png);border-image:url(../img/assets/line_dark.png);border-image-slice:20;border-image-width:0 0 14px 0;border-image-outset:4;border-image-repeat:round;border-left:0;border-right:0;display:inline}
.title-cloud-dark{-o-border-image:url(../img/assets/line_bright.png);border-image:url(../img/assets/line_bright.png);border-image-slice:20;border-image-width:0 0 14px 0;border-image-outset:4;border-image-repeat:round;border-left:0;border-right:0;display:inline}
.profile_image{width:85px;height:86px;background-color:#230704;border:2px solid #8AB5D5;border-radius:50%;position:relative}
.profile_image span{border-radius:50%;height:72px;width:72px;display:block;position:absolute;right:0;left:0;top:0;bottom:0;margin:auto;background-size:100%;background-repeat:no-repeat}
.profile_image.svg{border:none}
.profile_image svg{width:100%;height:100%;position:absolute;left:0;top:0}
.profile_image svg .circle{fill:#230704}
.profile_image.svg.active svg .circle{stroke:#8AB5D5}
.profile_image span{border-radius:50%;height:72px;width:72px;display:block;position:absolute;right:0;left:0;top:0;bottom:0;margin:auto;background-size:100%;background-repeat:no-repeat}
.profile_image.orange{border-color:#E08C94}
.profile_image.red{border-color:#91575b}
.profile_image.lightblue{border-color:#8ab5d5}
.profile_image.orange.svg svg .circle{stroke:#E08C94}
.profile_image.pink.svg svg .circle{stroke:#5F5D51}
.profile_image.lightblue.svg svg .circle{stroke:#8ab5d5}
.member .profile_image{background-color:transparent}
#mute{background:url(../img/assets/mute.png) no-repeat transparent;background-size:contain;position:absolute;border:0;top:10px;right:20px;height:59px;width:45px;z-index:10}
button{border-radius:30px;background-color:rgba(0,0,0,0.32);border:0}
.families-main .video video{top:0!important}

/* header */ 

.site-header{position:absolute;z-index:200;width:100%}
.site-header #top-menu{list-style:none;display:none;margin:0;padding:50px;position:fixed;background:rgba(0,0,0,0.9);z-index:100;width:100%;height:100%;z-index:100}
.site-header #top-menu #close-menu{background:url(../img/assets/mobile_close.png) no-repeat;background-size:contain;position:absolute;top:20px;left:20px;width:35px;height:35px}
.site-header #top-menu li{font:12px "Open Sans";color:#fff;text-transform:capitalize;line-height:1;text-align:center;overflow:hidden}
.site-header #top-menu li:last-child{border:none}
.site-header #top-menu li a{color:#fff;cursor:pointer;font-size:18px;line-height:36px}
.site-header #top-menu li a:after{content:url(../img/assets/mobile_line.png)}
.site-header #top-menu li a:hover{text-decoration:underline}
.site-header #menu-icon{background:url(../img/assets/menu-mobile.png) no-repeat;background-size:contain;width:45px;height:45px;top:20px;left:20px;position:absolute}

/* homepage */

.homepage{position:relative}
.homepage .video{position:absolute;left:0;top:0;width:100%;height:100%;z-index:-1}
.homepage .video .mainvideo{width:100%;height:100%;-webkit-transition:all 3.5s ease;transition:all 3.5s ease}
.homepage .video .mainvideo .video_pic{width:100%;height:100%;position:absolute;left:0;top:0}
.homepage.blur .video .mainvideo{filter:blur(25px);-webkit-filter:blur(25px)}
.homepage .video .mainvideo:after{content:'';display:block;width:100%;height:100%;z-index:3;background:#000;opacity:.2}
.home .video{z-index:-1}
.home #tribel-quest{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:100%;padding-top:80px}
.home .text-box h1{font-size:36px;font-weight:400;font-family:"PeperoncinoSans";color:#f8f5ee;line-height:18px;text-align:center;margin:0 0 20px}
.home .text-box h2{font-size:16px;font-family:"Open Sans";color:rgba(248,245,238,0.8);line-height:26px;text-align:center;padding:0 40px}
.home .circule{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-bottom:90px}
.home .circule ul{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin:0;padding:0}
.home .circule ul li:first-child{cursor:pointer}
.home .circule li{background:url(../img/assets/namibia.png) no-repeat 50% 50%;background-size:contain;width:120px;height:auto;padding-top:78%;margin:0 10px;text-align:center;color:#f8f5ee;list-style:none;transition:all .3s ease 0;-webkit-transition:all .3s ease 0}
.home .circule li.papua{background:url(../img/assets/papua1.png) no-repeat 50% 40%;background-size:contain}
.home .circule a li span{display:block;font-size:15px;font-family:"Open Sans";color:rgba(255,255,255,0.502);line-height:.825;text-align:center}
.home .circule ul a{color:#f8f5ee;font-size:20px;line-height:31px}
.home footer.footer{background:url(../img/backgrounds/footer-background.png) no-repeat;height:90px;width:100%;position:absolute;bottom:0;left:0;text-align:center}
.home footer p{text-align:center;color:rgba(248,245,238,0.8);margin:30px 0 0;font-size:15px}
.home footer .logo{background:url(../img/assets/logo.png) no-repeat 0 0;padding:0 72px}

/* Namibia */

html.thehimba{background:url(../img/backgrounds/himba_m.jpg) no-repeat #231B18;background-size:contain}
#thehimba{padding:150px 0 30px}
.thehimba h1{font-size:55px;font-weight:400;font-family:"PeperoncinoSans";color:#f8f5ee;line-height:26px;letter-spacing:4px;text-align:center;margin:0 0 20px}
.thehimba h2{color:rgba(231,111,48,0.8);font-size:28px;line-height:40px;letter-spacing:4px;font-weight:300;text-align:center;margin:30px 0}
.thehimba .main-content{width:90%;position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around;margin:0 auto;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-orient:vertical;-webkit-box-direction:reverse;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}
.thehimba .main-content p{font-size:16px;line-height:24px;margin-top:0}
#video-container .video-wrapper{position:relative;overflow:hidden;height:260px}
#video-container .video-wrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%}
.thehimba #video-container{height:300px;width:100%;position:relative}
.thehimba #video-container video#video1{background:url(../img/backgrounds/video1bg.png) no-repeat 0 0 transparent;background-size:cover}
.thehimba .text{width:100%;padding:0 0 30px}
.thehimba #video-container .video-logo{background:url(../img/assets/logo-video.png) no-repeat;position:absolute;bottom:20px;left:22px;width:144px;height:24px;z-index:1}
.thehimba .families{text-align:center}
.thehimba .families h3{font-size:55px;line-height:55px;text-align:center;font-family:"PeperoncinoSans";letter-spacing:2px}
.thehimba .families-icons{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:column wrap;-ms-flex-flow:column wrap;flex-flow:column wrap;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.thehimba .families .families-icons .item{-webkit-transform-origin:50% 50%;transform-origin:50% 50%;will-change:transform;-webkit-filter:none;filter:none;transition:-webkit-transform 1.5s cubic-bezier(0.215,0.61,0.355,1);-webkit-transition:-webkit-transform 1.5s cubic-bezier(0.215,0.61,0.355,1);transition:transform 1.5s cubic-bezier(0.215,0.61,0.355,1);transition:transform 1.5s cubic-bezier(0.215,0.61,0.355,1),-webkit-transform 1.5s cubic-bezier(0.215,0.61,0.355,1);padding:30px 0}
.thehimba .families .families-icons .item img{width:90%}
.thehimba .families .families-icons .item .image{position:relative;padding:30px 0 0}
.thehimba .families .families-icons .item .image .overlay{opacity:0;-webkit-transition:opacity .8s ease-in-out;transition:opacity .8s ease-in-out}
.thehimba .families .families-icons .item .image:hover .overlay{background:url(../img/assets/hover-state.png) no-repeat 0 0;background-size:contain;position:absolute;top:8px;left:0;width:300px;height:322px;z-index:-1;visibility:visible;-webkit-transition:opacity .8s ease;transition:opacity .8s ease;opacity:1}
.thehimba .families-icons p{text-align:center;font-weight:300}
.thehimba .families button{background:url(../img/assets/hov3.png) no-repeat 0 0 transparent;background-size:100%;margin:40px;padding:30px;-webkit-transition:all .2s ease;transition:all .2s ease}
.thehimba .families button:hover{background:url(../img/assets/hov.png) no-repeat 0 0 transparent;background-size:100%}
.thehimba .families button a{font-size:16px;padding:10px 25px;color:#fff}
.thehimba .numbers{margin:20% 0 0}
.thehimba .numbers-icons .number{color:#f8f5ee;font-family:"PeperoncinoSans";font-size:44px;padding:0 20px}
.thehimba .numbers-icons .meta{color:#f8f5ee;font-size:16px;max-width:120px;word-wrap:break-word;font-weight:300;margin:7px 0 0 6px;word-wrap:break-word}
.thehimba .numbers-icons .item{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:100%;padding:0 0 50px}
.thehimba .numbers-icons .item img{height:55px}

/* family f_1 */

#hero{background-size:cover;float:left;width:100%;height:auto;position:relative;z-index:10;background:url(../img/backgrounds/hero.jpg) no-repeat;background-size:cover}
#hero h1{font:40px PeperoncinoSans;color:#f8f5ee;line-height:.816;margin:0;padding:57% 0 0;text-align:center;letter-spacing:1.15px}
#hero .table{background:url(../img/assets/table_mobile.png) no-repeat 50% 0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;margin:0 auto 15%}
#hero .table p{font-size:14px;font-weight:300;-webkit-box-flex:1;-webkit-flex:1 50%;-ms-flex:1 50%;flex:1 50%;text-align:center}
#about{background:url(../img/backgrounds/about.jpg) no-repeat #000;background-size:cover}
#about .big-text-box{padding:0 35px 50px}
#about h2{text-align:center;margin:0}
#about p{text-align:left;padding:0 0 12%;margin-bottom:0}
#hembinda #about .tree{background:url(../img/f_1/backgrounds/tree.png) no-repeat;background-size:cover;padding-bottom:156%}
#hembinda #name{background:url(../img/f_1/layers/small_1.png) 100% 5% no-repeat,url(../img/backgrounds/night.jpg) no-repeat;overflow:hidden}
#hembinda #name .big-text-box{max-width:400px}
#hembinda #name:after{content:url(../img/f_1/backgrounds/brush_1.png);position:absolute;bottom:-10px;left:0;width:100%;overflow:hidden}
#family-members{color:#f8f5ee}
#family-members .profile_image.svg{border:none}
#family-members .member{float:left;padding:0 15px 0 42px;position:relative;display:inline-block;width:100%}
#family-members .member .inner-page{padding-top:39px}
#family-members .member .profile_image{position:absolute}
#family-members .box{text-align:left;z-index:10;position:relative}
#family-members .box p{line-height:1.462;padding:10px 0 40px}
#family-members #member1{background:#200505}
#family-members .box h4{font:36px PeperoncinoSans,sans-serif;line-height:35px;margin:0;position:relative;padding-left:105px}
#family-members .box h4 span{display:block}
#family-members #member1:after{content:url(../img/f_1/backgrounds/brush_2.jpg);position:absolute;bottom:-8px;left:0;width:100%;overflow:hidden}
#family-members #member2{background:#3c1106}
#family-members #member2:after{content:url(../img/f_1/backgrounds/brush_3.jpg);position:absolute;bottom:-15px;left:0;width:100%;overflow:hidden;z-index:10}
#family-members #member2 .image_big{position:absolute;z-index:20;top:-20%;left:0;width:40%}
#family-members #member2 .profile_image svg .circle{fill:#3C1106}
#family-members #member3{background:#fcfdec;color:#6d6d67;position:relative;z-index:20}
#family-members #member3 .profile_image svg .circle{fill:#fcfdec}
#family-members #member3:after{content:"";background:url(../img/f_1/backgrounds/brush_6.png) repeat-x;position:absolute;bottom:-15px;left:0;width:100%;overflow:hidden}
#family-members #member3 p{color:#6d6d67}
#drought{background:url(../img/backgrounds/drought.jpg) no-repeat #000;background-size:cover}
#drought p{padding:0 10% 0 0}
#drought .first{padding-top:35px}
#wives{background:#2F393D;overflow:visible}
#wives .big-text-box{padding:15px 15px 50px}
#wives .inner-image{position:absolute;right:0;top:-38%}
#wives .img_wife{position:absolute;top:-286px;right:0;height:auto;z-index:0}
#wives .img_wife img{width:250px}
#wives .inner-page img{position:absolute;right:0;top:-70%;z-index:30;width:350px}
#wives:after{content:url(../img/f_1/backgrounds/brush_5.jpg);position:absolute;bottom:-15px;left:0;width:100%;overflow:hidden}
#steps .inner-page{padding:50px}
#steps .item .animate{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;margin:20px 0}
#steps .item .image .play{width:50px;height:50px;background:url(../img/assets/play.png) no-repeat center left 57% #e76f30;background-size:21px;border-radius:50%;display:block;position:absolute;left:34px;top:40px;-webkit-transition:all .2s ease;transition:all .2s ease}
#steps .item .image .play:hover{background-color:#ff7c36}
#steps .item .animate img{max-width:200px;height:auto}
.lightbox .table.pop-steps > .table-row > .table-cell{max-height:600px}
#life{clear:both}
#life h2{margin:0 0 0 50px}
#life .inner-page{margin:5% 0}
#life #gallery_carousel .item img{display:block;width:100%;height:auto}
#members{margin-bottom:25px}
#members h2{margin:0 0 0 50px}
#members .gallery_list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin:50px 0 0}
#members .item{position:relative;margin:0 3px 3px 0;-webkit-box-flex:0;-webkit-flex:0 1 105px;-ms-flex:0 1 105px;flex:0 1 77px;overflow:hidden;font-family:'Open Sans',sans-serif}
#members .item img{max-width:100%;display:block;position:relative}
#members .item span.text-content{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;background-color:rgba(0,0,0,0.7);color:#fff;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:100%;opacity:0;text-align:center;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:-webkit-transform 0.3s,opacity .5s;-webkit-transition:opacity 0.5s,-webkit-transform .3s;transition:opacity 0.5s,-webkit-transform .3s;transition:transform 0.3s,opacity .5s;transition:transform 0.3s,opacity 0.5s,-webkit-transform .3s;position:absolute;max-width:164px;top:0;left:0;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:100%;font-size:16px}
#members .item:hover span.text-content,#members .item:hover span.text-content span{pointer-events:auto;opacity:1}

/* Family f_2 */

#tjisemo #hero{background:url(../img/f_2/backgrounds/mobile/m_1.jpg) no-repeat #2B1311;background-size:contain}
#tjisemo #about{background:url(../img/f_2/backgrounds/mobile/m_2.jpg) no-repeat #220505;background-size:contain}
#tjisemo #about .tree{background:url(../img/f_2/backgrounds/mobile/tree.png) no-repeat;background-size:cover;padding-bottom:156%}
#tjisemo #name{background:url(../img/f_2/backgrounds/mobile/m_3.jpg) no-repeat;background-size:cover}
#tjisemo #name img.child{position:absolute;right:0;bottom:-16%;width:100%}
#tjisemo #family-members:before{z-index:20;height:40px;top:-24px;position:absolute;overflow:visible}
#tjisemo #member1:after{content:url(../img/f_2/backgrounds/mobile/m_b_4.jpg)}
#tjisemo #member2:after{content:url(../img/f_2/backgrounds/mobile/m_6.jpg)}
#tjisemo #member3 .profile_image.svg.active svg .circle{stroke:#000}
#tjisemo #member2{background:#5e5d4f}
#tjisemo #member2 .profile_image svg .circle{fill:#5e5d4f}
#tjisemo #member1 .profile_image.svg.active svg .circle{fill:#e08c94}
#tjisemo #member2 .profile_image.svg.active svg .circle{stroke:#e08c94}
#tjisemo #member3{background:#524e64}
#tjisemo #member3 p,#tjisemo #member3 h4{color:#f8f5ee}
#tjisemo #member3 .profile_image svg .circle{fill:#524E64}
#tjisemo #member3 .profile_image.svg.active svg .circle{stroke:#8ab5d5}
#tjisemo #member3:after{content:url(../img/f_2/backgrounds/mobile/m_8.jpg)}
#tjisemo #coming-of-age{background:url(../img/f_2/backgrounds/mobile/m_9.jpg) no-repeat;background-size:cover;z-index:-1}
#tjisemo #family-feud{background:url(../img/f_2/backgrounds/mobile/m_10.jpg) no-repeat;background-size:cover;z-index:-1}
#tjisemo #marriage{background:url(../img/f_2/backgrounds/mobile/m_11.jpg) no-repeat;background-size:cover;z-index:-1}
#tjisemo #family-members #member3:after{content:url(../img/f_2/backgrounds/mobile/m_8.jpg);z-index:20}
#tjisemo #father-died{background:url(../img/f_2/backgrounds/mobile/m_12.jpg) no-repeat;background-size:cover;z-index:-1}

/* Family f_3 */

#f_3{background-color:#2b201d}
#f_3 #hero{background:url(../img/f_3/backgrounds/mobile/m_1.jpg) no-repeat #ffc98b;background-size:cover}
#f_3 #about{background:url(../img/f_3/backgrounds/mobile/m_2.jpg) no-repeat #ffc98b;background-size:cover}
#f_3 #about .big-text-box{max-width:400px}
#f_3 #about .big-text-box h3,#f_3 #about .big-text-box p,#f_3 #about h2{color:#4f4642}
#f_3 #about .tree{background:url(../img/f_3/backgrounds/mobile/tree.png) no-repeat;background-size:cover;padding-bottom:156%}
#f_3 #about .tree .one{margin-left:216px;padding-top:32px;width:942px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
#f_3 #about .tree .two{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;padding-top:82px;width:1224px;margin-left:444px}
#f_3 #about .tree .three{margin-left:-75px;width:1479px}
#f_3 #about .tree .three .first,#f_3 #about .tree .three .second{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
#f_3 #about .tree .three .first{width:523px;margin-left:20px}
#f_3 #about .tree .three .second{width:754px}
#f_3 #about .tree .four{margin-left:-45px;width:474px}
#f_3 #about .image_big{right:0;top:0}
#f_3 #name{background:url(../img/f_3/backgrounds/section_3.jpg) no-repeat;background-size:cover}
#f_3 #family-members:before{content:url(../img/f_3/backgrounds/mobile/m_4.jpg);z-index:200!important;height:40px;top:-10px;position:absolute;overflow:visible}
#f_3 #family-members #member2:after{content:url(../img/f_3/backgrounds/brush_3.png);background:none;bottom:-14px}
#f_3 #family-members #member3:after{content:url(../img/f_3/backgrounds/brush_4.png);bottom:-5px;z-index:10;background:none}
#f_3 #gun{background:url(../img/f_3/backgrounds/mobile/m_10.jpg) no-repeat #ffc98b;background-size:cover}
#f_3 #gun .big-text-box p{margin:45% 0 10%}
#f_3 #gun .image_big{position:absolute;right:0;top:20%}
#f_3 #death{background:url(../img/f_3/backgrounds/mobile/m_11.jpg) no-repeat #ffc98b;background-size:cover}
#f_3 #death .image_big{position:absolute;left:0;top:0}
#f_3 #help{background:url(../img/f_3/backgrounds/mobile/m_12.jpg) no-repeat #ffc98b;background-size:cover}
#f_3 #help .image_big{position:absolute;right:0;top:35%;width:44%}
#f_3 #help:after{content:url(../img/f_3/backgrounds/brush_5.png);z-index:200!important;height:40px;bottom:40px;position:absolute;overflow:visible}
#f_3 #young{background:url(../img/f_3/backgrounds/mobile/m_13.jpg) no-repeat #ffc98b}
#f_3 #young .image_big{position:absolute;left:0;top:0;width:44%}
#f_3 #new_home{background:url(../img/f_3/backgrounds/mobile/m_14.jpg) no-repeat #2b201d;background-size:100% 100%}
#f_3 #life,#f_3 #members{background-color:#2b201d}
#f_3 #life .video-container{width:80%;margin:5% auto}

/* Family f_4 */

#f_4 #hero{background:url(../img/f_4/backgrounds/mobile/section_1.jpg) no-repeat;background-size:cover}
#f_4 #about{background:url(../img/f_4/backgrounds/mobile/section_2.jpg) no-repeat #c5bb8c;background-size:contain;}
#f_4 #about h2,#f_4 #about p,#f_4 #about h3  {color:#2c2b2c;}
#f_4 #about .big-text-box { padding: 0 26% 50px 35px; }
#f_4 #about .big-text-box h3 { padding: 0 30px 0 0; }
@media screen and (max-width: 370px) {
#f_4 #about .big-text-box { padding: 0 10% 50px 35px;}}
#f_4 #about .tree{background:url(../img/f_4/backgrounds/mobile/section_3.jpg) no-repeat;background-size:cover;padding-bottom:156%}
#f_4 #family-members:before{content:url(../img/f_4/backgrounds/mobile/brush_1.jpg);z-index:200!important;height:40px;top:-10px;position:absolute;overflow:visible}
#f_4 #family-members .member .inner-page {padding-top:70px;}
#f_4 #family-members #member1 { background: #090605; }
#f_4 #family-members #member1 .image_big {position:absolute;right: 0;top: 32px;}
#f_4 #family-members #member1:after { content: url(../img/f_4/backgrounds/mobile/brush_2.jpg);}
#f_4 #family-members #member2 { background: #c05138; }
#f_4 #family-members #member2:after { content: url(../img/f_4/backgrounds/mobile/brush_3.jpg);}
#f_4 #family-members #member3 { background: #eed2ad; }
#f_4 #family-members #member3:after { content: "";bottom: -4px;}
#f_4 #section4 {background:url(../img/f_4/backgrounds/mobile/section_4.jpg) no-repeat #ffc98b;background-size:cover}
#f_4 #section4 .image_big {    position: absolute;right: 0;top: 200px;}
#f_4 #section4 .big-text-box p {padding: 100px 120px 0 0;}
@media screen and (max-width: 442px) {
#f_4 #section4 .image_big img { width: 300px;position: absolute;right: 0;top: 50px;}}
@media screen and (max-width: 422px) {
#f_4 #section4 .image_big img { width: 300px;position: absolute;right: 0;top: 101px;}
#f_4 #section4 .big-text-box p {padding: 60px 63px 0 0;}}
@media screen and (max-width: 349px) {
#f_4 #section4 .image_big img {top: 95px;}}
#f_4 #section5 {background:url(../img/f_4/backgrounds/mobile/section_5.jpg) no-repeat #fbd49c;background-size:cover}
#f_4 #section5 .big-text-box {padding: 30% 35px 45%;}
#f_4 #section6 {background:url(../img/f_4/backgrounds/mobile/section_6.jpg) no-repeat #fbd49c;background-size:cover}
#f_4 #section6 .big-text-box {padding: 5% 35px 45%;}
#f_4 #section7 {background: url(../img/f_4/backgrounds/mobile/section_8.jpg) no-repeat #8F4B40 0 100%;background-size: contain;padding-bottom: 100%;}

/* lightboxes */

.lightbox{width:100%;height:100%;position:fixed;z-index:9999999;left:0;top:0;display:none}
.lightbox .mask{width:100%;height:100%;left:0;top:0;position:absolute;z-index:0;background:#000;opacity:.78;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=78)}
.lightbox .relative{z-index:1;width:100%;height:100%}
.lightbox .table{width:100%;height:100%}
.lightbox .table > .table-row{width:100%;height:100%}
.lightbox .table > .table-row > .table-cell{width:100%;height:100%;vertical-align:middle;text-align:left;padding:16px}
.lightbox .box{background:#f8f5ee;margin:0 auto;position:relative;color:#646263;max-width:290px;width:100%;height:100%;-webkit-transform:scale(0.9);transform:scale(0.9);display:none}
.lightbox .box:before,.lightbox .box:after{content:'';display:block;width:298px;margin-left:-149px;height:7px;background:url(../img/assets/bg-lightbox.png) no-repeat 0 0;background-size:100%;position:absolute;left:50%;top:-5px}
.lightbox .dark:before,.lightbox .dark:after{content:'';display:block;width:298px;margin-left:-149px;height:7px;background:url(../img/assets/lightbox_dark.png) no-repeat 0 0;background-size:100%;position:absolute;left:50%;top:-5px}
.lightbox .box:after{background-position:bottom center;top:auto;bottom:-4px}
.lightbox .box_2{width:100%;height:100%;position:relative}
.lightbox .box_2:before,.lightbox .box_2:after{content:'';display:block;width:9px;height:100%;background:url(../img/assets/bg-lightbox_side.png) repeat-y 0 0;background-size:18px;position:absolute;right:100%;top:0}
.lightbox .dark .box_2:before,.lightbox .dark .box_2:after{content:'';display:block;width:9px;height:100%;background:url(../img/assets/lightbox_dark_side.png) repeat-y 0 0;background-size:18px;position:absolute;right:100%;top:0}
.lightbox .box_2:after{background-position:right top;right:auto;left:100%}
.lightbox .box .inner{width:100%;height:100%;position:absolute;left:0;top:0;overflow-y:auto}
.lightbox .box .inner .mCSB_container{padding:54px 33px 50px 63px}
.lightbox .box .close_btn{position:absolute;right:23px;top:9px;width:18px;height:19px;background:url(../img/assets/close.png) no-repeat 0 0;background-size:100%;z-index:4}
.lightbox .box .main_title{font-size:36px;line-height:36px;display:block;margin-bottom:24px;font-family:"PeperoncinoSans";font-weight:400;letter-spacing:-.8px}
.lightbox .box .close_btn.light{width:30px;height:30px;background-color:rgba(255,255,255,0.8);background-size:18px 19px;background-position:50%;border-radius:50%}
.lightbox .box .text{font-size:16px;line-height:22px;font-weight:400;margin-bottom:30px}
.lightbox .box .text a{color:#E76F30}
.lightbox .box .text a:hover{text-decoration:underline}
.lightbox .box .gallery:after{content:'';clear:both;display:table}
.lightbox .box .gallery .item{width:51.2%;float:left;padding-right:8px;margin-bottom:9px}
.lightbox .box .gallery .item.big{width:48.8%}
.lightbox .box .gallery .item img{display:block;width:100%}
.lightbox .box.about_popup{max-height:1197px}
.lightbox .box.involved_popup{max-height:1000px}
.lightbox .box.involved_popup .contact_form{width:515px}
.lightbox .box.involved_popup .contact_form .item{margin-bottom:15px}
.lightbox .box.involved_popup .contact_form .item:after{content:'';display:table;clear:both}
.lightbox .box.involved_popup .contact_form .item input[type='text']{display:block;width:100%;height:48px;font-size:16px;font-weight:400;border:none;padding:0;text-indent:18px;background-color:#FFF;border-radius:8px;color:#646263}
.lightbox .box.involved_popup .contact_form .item textarea{padding:12px 18px;height:140px;background-color:#FFF;font-size:16px;font-weight:400;border-radius:8px;border:none;display:block;width:100%;color:#646263;resize:none}
.lightbox .box.involved_popup .contact_form .item .submit{width:220px;height:42px;line-height:40px;color:#FFF;text-align:center;font-size:18px;font-weight:400;background-color:#E76F30;border-radius:24px;display:block;position:relative}
.lightbox .box.involved_popup .contact_form .item .submit:after{width:232px;height:47px;background:url(../images/assets/btn.png) no-repeat 0 0;background-size:100%;position:absolute;left:-3px;top:0;right:0;bottom:0;margin:auto;content:''}
.lightbox .box.involved_popup .contact_form .item .submit:hover{background:#cf642b}
@media screen and (min-width: 568px) {
.lightbox .box{max-width:490px}
.lightbox .box:before,.lightbox .box:after{height:9px;margin-left:-249px;top:-9px;width:500px}
.lightbox .box:after{top:auto;bottom:-8px}
}
@media screen and (max-width: 567px) {
.lightbox .box .gallery .item{width:100%;padding-right:0;margin-bottom:9px;float:none}
.lightbox .box .gallery .item.big{width:100%}
}
@media screen and (max-width: 767px) {
.lightbox .box .gallery{padding-bottom:20px}
.lightbox .box .inner{padding:30px 15px 0}
.lightbox .box.involved_popup .contact_form{width:100%;padding-bottom:20px}
.lightbox .box.involved_popup .contact_form .item.two_items input[type='text']:first-child{margin-bottom:15px}
}
@media screen and (min-width: 768px) {
.lightbox .table > .table-row > .table-cell{padding:45px}
.lightbox .box{max-width:668px}
.lightbox .box:before,.lightbox .box:after{width:684px;margin-left:-342px;height:14px;top:-14px}
.lightbox .box:after{bottom:-11px;top:Auto}
.lightbox .box_2:before,.lightbox .box_2:after{width:9px;background-size:18px}
.lightbox .box .main_title{font-size:50px;line-height:50px;margin:15px 0 28px}
.lightbox .box .text{font-size:17px;line-height:26px;margin-bottom:50px}
.lightbox .box.involved_popup .contact_form{width:515px}
.lightbox .box.involved_popup .contact_form .item{margin-bottom:16px}
.lightbox .box.involved_popup .contact_form .item input[type='text']{height:48px;font-size:18px;text-indent:18px}
.lightbox .box.involved_popup .contact_form .item.two_items input[type='text']{width:48.5%;margin-right:3%;float:left}
.lightbox .box.involved_popup .contact_form .item.two_items input[type='text']:last-child{margin-right:0}
.lightbox .box.involved_popup .contact_form .item textarea{padding:12px 18px;height:228px;font-size:18px}
.lightbox .box.involved_popup .contact_form .item .submit{width:220px;height:47px;line-height:45px;font-size:18px}
.lightbox .box.involved_popup .contact_form .item .submit:after{width:232px;height:47px;left:-3px}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
.lightbox .box .gallery{padding-bottom:30px}
.lightbox .box .inner{padding:44px 33px 0 40px}
}
@media screen and (max-width: 1023px) {
.lightbox .box .inner{-webkit-overflow-scrolling:touch;overflow-y:scroll}
}
@media screen and (min-width: 1024px) {
.lightbox .box{max-width:838px}
.lightbox .box:before,.lightbox .box:after{width:854px;margin-left:-427px;height:18px;top:-18px}
.lightbox .dark:before,.lightbox .dark:after{width:854px;margin-left:-427px;height:15px;top:-13px}
.lightbox .box:after{top:auto;bottom:-15px}
.lightbox .dark:after{bottom:-10px}
.lightbox .box_2:before,.lightbox .box_2:after{width:9px;background-size:18px}
}
@media screen and (min-width: 1280px) {
.lightbox .table > .table-row > .table-cell{padding:60px}
.lightbox .box .inner .mCSB_container{padding:50px 33px 50px 63px}
.lightbox .box .text{font-size:18px;line-height:28px}
}

/* 640 styles */

@media screen and (min-width: 640px) {
.hide-desktop{display:none}
.title-cloud{text-align:left}
.title-cloud-dark{text-align:left}
h2{font-size:16px}
h3{font-size:58px;line-height:58px;margin-bottom:1px;letter-spacing:-.6px}
p{font-size:16px;line-height:28px}
.big-text-box{margin:30% 0 5% 10%;padding:0;max-width:570px}
.big-text-box h3{font-size:27px;position:relative;letter-spacing:1px}
.big-text-box h3 span{font-size:54px;line-height:57px}
.big-text-box h3:before {content: '';position: absolute;width: 50px;height: 50px;background: url(../img/assets/quotes.png) no-repeat 0 0;background-size: auto 100%;top: -37px;left: -56px;}
.big-text-box h3:after{content:'';position:absolute;width:77px;height:50px;background:url(../img/assets/quotes.png) no-repeat -48px 0;background-size:auto 100%;bottom:0}
.big-text-box .qoute:after{right:-37px}
.big-text-box h3.dark:before{background:url(../img/assets/quotes-dark.png) no-repeat 0 0}
.big-text-box h3.dark:after{background:url(../img/assets/quotes-dark.png) no-repeat -50px 0}
.site-header{position:absolute;height:64px;overflow:hidden;width:100%;position:fixed;top:0;left:0;z-index:999}
.site-header .center{width:79px;height:64px;position:absolute;left:0;right:0;top:0;margin:0 auto}
.site-header .center span{opacity:0;-webkit-transition:background 2s;-webkit-transition:background 1s ease;transition:background 1s ease;background:url(../img/assets/header-arrow-center.png) no-repeat 0 0;width:79px;height:64px;position:absolute;left:0;right:0;top:0;margin:0 auto}
.site-header .no-arrow{-webkit-transition:background 2s;-webkit-transition:background 1s ease;transition:background 1s ease;background:url(../img/assets/header-bg_center.png) no-repeat 0 0;background-size:100%}
.site-header .arrow-up{-webkit-transition:background 2s;-webkit-transition:background 1s ease;transition:background 1s ease;background:url(../img/assets/header-arrow-center.png) no-repeat 0 0;cursor:pointer}
.site-header .center a{top:0;height:65px;width:77px;position:absolute;z-index:200}
.site-header .center:after,.site-header .center:before{content:'';position:absolute;left:100%;width:1500px;height:100%;background:url(../img/assets/header-bg.png) repeat-x 0 0}
.site-header .center:after{left:auto;right:100%}
.site-header .logo_left{font-family:"PeperoncinoSans";font-size:24px;color:#eff0f3;position:absolute;left:19px;top:10px;letter-spacing:.5px;text-decoration:none}
.site-header .logo_left:hover{color:#e76f2f}
.site-header #menu-icon{display:none}
.site-header #top-menu{list-style:none;display:none;background:transparent;margin:0;padding:0;display:block;text-align:center;position:absolute;left:-50px;right:0;top:7px;margin:0 auto;text-align:center;font-size:0;max-width:500px}
.site-header #top-menu li{display:inline-block;background:transparent;border:none;text-transform:uppercase;overflow:hidden;line-height:2.668}
.site-header #top-menu li .involved{margin-left:100px}
.site-header #top-menu li a{color:#FFF;font-size:12px;font-weight:400;text-transform:uppercase;letter-spacing:2.4px}
.site-header #top-menu li a:after{content:""}
.site-header .brand{float:right;padding:10px 10px 0 0}
.site-header .brand .share{float:left;color:rgba(255,255,255,0.5);font-size:12px;font-weight:400;text-transform:uppercase;padding-right:16px;position:relative;margin-right:25px;letter-spacing:.5px}
.site-header .brand .share:after{content:'';height:13px;width:1px;background:#FFF;opacity:.5;position:absolute;right:0;top:7px;display:block}
.site-header .brand .share .icon{display:inline-block;height:29px;width:29px;background:url(../img/assets/icon-facebook.png) no-repeat 0 0;background-size:100%;vertical-align:middle;margin-left:11px}
.site-header .brand .logo{float:right;width:141px;height:24px;background:url(../img/assets/logo.png) no-repeat 0 0;background-size:100%;position:relative;top:2px}
.home .text-box h1{font-size:80px}
.home #tribel-quest{margin-top:0;padding-top:0}
.home .circule{margin-bottom:0}
.home .circule ul{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}
.home .circule li{background:url(../img/assets/namibia.png) no-repeat 50% 50%;background-size:contain;position:relative;width:250px;height:auto;padding-top:100%}
.home .circule a.link1 li:after{content:"";background:url(../img/assets/namibia_hover.png) no-repeat;background-size:contain;position:absolute;width:100%;height:150px;padding-top:100%;bottom:25px;left:0;opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out}
.home .circule a.link1:hover li:after{opacity:1}
.home .circule li:{opacity:1}
.home .circule a:hover li{color:#DF6B2E}
.home footer p{margin:30px 0 0}
#hero{background:url(../img/backgrounds/section_1.jpg) no-repeat;background-size:cover}
.families-main #hero .navs .arrow{width:91px;height:183px;position:absolute;left:0;top:50%;margin-top:-45px;background:url(../img/assets/navs.png) no-repeat 0 0;background-size:auto 100%}
.families-main #hero .navs .arrow.arrow_right{left:auto;right:0;background-position:right top}
#hero .hero-texts{padding:33% 0 8.6%}
#hero h1{padding:0;font:60px PeperoncinoSans}
#hero .table{background:url(../img/assets/table.png) no-repeat 0 0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;max-width:540px;margin:0 auto}
#hero .table p{font-size:18px;}
#about{background:url(../img/backgrounds/section_2.jpg) no-repeat;background-size:cover;overflow:hidden}
#hembinda #about .big-text-box{margin:16% 0 0 10%;max-width:430px}
#hembinda #about .image_big{position:absolute;width:100%;height:auto;right:-2%;top:-4%}
.about .image_big img{height:100%;display:block;position:absolute;right:0;top:0}
#about .image_big .img_1{position:absolute;right:0}
#about .image_big .img_2{position:absolute;right:18%}
#hembinda #family-members #member2:after{content:url(../img/assets/brush_section2.png);position:absolute;bottom:-30px;left:0;width:100%;overflow:hidden;z-index:30}
#hembinda #about .tree svg{position:absolute;width:2200px;bottom:243px;left:132px}
#hembinda #about .tree{text-align:center;background:none;margin:10% 0 0;padding-bottom:10%;color:#f8f5ee;text-align:center;height:1100px}
#about .tree span{height:81px;width:81px}
#about .tree .level{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
#about .tree .one{margin-left:786px;padding-top:32px;width:487px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
#about .tree .level .item .profile_image{margin:0 auto;margin-bottom:15px;width:97px;height:97px}
#about .tree .two{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;padding-top:50px;width:1556px}
#about .tree .three{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;padding-top:76px;width:1472px;margin-left:144px}
#about .tree .three .first{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:858px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
#about .tree .three .second{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:539px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
#about .tree .four{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin-top:88px;margin-left:96px;width:1514px}
#about .tree .four .first{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:981px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
#about .tree .four .second{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:494px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
#hembinda #about .image_big img{width:30%}
#hembinda #about .image_big .img_3{position:absolute;right:10%}
#hembinda #name{background:url(../img/backgrounds/section_3.jpg) no-repeat;background-size:cover}
#hembinda #name .big-text-box{margin:15% 0 15% 10%}
#hembinda #name:after{content:url(../img/f_1/backgrounds/brush_1_b.png);bottom:-21px;z-index:30}
#hembinda #name h2{text-align:left;margin:0;display:inline-block}
#hembinda #name img.child{position:absolute;right:-90%;top:-18%}
#family-members .member{height:285px;padding:0;position:relative}
#family-members .member .inner-page{position:relative;z-index:2;padding-top:126px;margin:0 auto;height:100%;padding-top:39px}
#family-members .box{max-width:550px;padding-top:20px}
#family-members .member .box .profile_image{left:40px;top:6px}
#family-members .video{width:100%;height:100%;position:absolute;left:0;top:0;background:#000;z-index:0}
#family-members .video .mainvideo{width:100%;position:absolute;right:0;top:0;height:100%}
#family-members .video:after{content:'';width:100%;height:100%;position:absolute;left:0;top:0;background-image:-webkit-linear-gradient(right,rgba(10,6,5,0) 0%,rgba(10,6,5,0) 25%,#0A0605 55%,#0A0605 100%);background-image:linear-gradient(to left,rgba(10,6,5,0) 0%,rgba(10,6,5,0) 25%,#0A0605 55%,#0A0605 100%)}
#family-members #member3 .video:after{content:'';width:100%;height:100%;position:absolute;left:0;top:0;background-image:-webkit-linear-gradient(right,rgba(252,253,236,0) 0%,rgba(252,253,236,0) 25%,#fcfdec 55%,#fcfdec 100%);background-image:linear-gradient(to left,rgba(252,253,236,0) 0%,rgba(252,253,236,0) 25%,#fcfdec 55%,#fcfdec 100%)}
#family-members .box{padding:0 0 0 150px}
#family-members .box h4{font:30px PeperoncinoSans,sans-serif;line-height:0;padding:0}
#family-members .box h4 span{display:inline}
#family-members .box p{line-height:30px;}
#family-members #member1{background:#090605}
#hembinda #family-members #member1 .video video{width:1300px!important}
#family-members #member1:after{content:""}
#m{content:"";background:url(../img/assets/brush_section2.png);height:30px;position:absolute;bottom:-18px;left:0;width:100%;overflow:hidden;z-index:30}
#hembinda #family-members #member2 .box{float:right;margin:0 165px 0 0}
#hembinda #family-members #member2 .box .profile_image{right:-110px;left:auto;top:-15px}
#hembinda #family-members #member2 .box p{padding-left:32%}
#hembinda #family-members #member2 .box p,#hembinda #family-members #member2 .box h4{text-align:right}
#hembinda #family-members #member2 .image_big{width:auto;height:138%;top:-17%}
#family-members #member3:after{content:''}
#drought{background:url(../img/backgrounds/section_4.jpg) no-repeat top center;background-size:cover;padding:0 15px 0 42px}
#drought .inner-page{margin:10% 0}
#wives{background:url(../img/backgrounds/section_4-1.png) no-repeat top center #2f393e;background-size:100%;padding-top:22%;overflow:hidden}
#wives .img_wife{position:absolute;top:0;right:0}
#wives .img_wife img{width:auto}
#wives:after{content:""}
#wives .big-text-box{margin:34% 39% 15% 8%}
#wives .inner-page img{width:59%;top:-78%}
#wives .backgrounds .one{width:556px;height:222px;position:absolute;left:213px;top:11%}
#wives .backgrounds .one .item{background:url(../img/backgrounds/section_4-2.png) no-repeat 0 0;background-size:auto 100%;height:100%;position:absolute;left:0;top:0;width:30%}
#wives .backgrounds .one .item_2{background-position:left 40% top;left:30%}
#wives .backgrounds .one .item_3{background-position:right top;left:auto;right:0;width:40%}
#wives .backgrounds .two{width:569px;height:237px;position:absolute;right:495px;top:20%}
#wives .backgrounds .two .item{background:url(../img/backgrounds/section_4-3.png) no-repeat 0 0;background-size:auto 100%;height:100%;position:absolute;left:0;top:0;width:40%}
#wives .backgrounds .two .item_2{background-position:right top;right:0;left:auto}
#hembinda #steps{background:url(../img/backgrounds/section_5.jpg) no-repeat top center;background-size:100%;width:100%;z-index:10;padding-top:20%}
#hembinda #steps h2{margin-left:50px}
#hembinda #steps .steps_desc{margin-left:50px;max-width:400px}
#hembinda #steps .item .image{position:relative}
#steps .item .animate .image,#steps .item .animate p{-webkit-box-flex:1;-webkit-flex:1 50%;-ms-flex:1 50%;flex:1 50%;max-width:250px;position:relative}
#life h2{margin-left:10%}
#life .inner-page{margin-top:50px}
#life .inner-slider{max-width:80%;margin:0 auto;margin-top:50px}
#members .gallery_list{max-width:100%;margin:50px auto}
#members .innerpage{width:90%;margin:0 auto;margin-top:150px}
#members .item{-webkit-box-flex:0;-webkit-flex:0 1 105px;-ms-flex:0 1 105px;flex:0 1 105px}
html.thehimba{background:url(../img/backgrounds/himba-bg2.jpg) no-repeat #221A17;background-size:cover}
.thehimba h1{font-size:122px;line-height:30px;margin:0 0 50px}
.thehimba h2{color:#e76f30;font-size:37px}
.thehimba .main-content{-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap}
.thehimba .main-content .text{width:33%}
.thehimba #video-container{height:auto;width:60%;margin:0}
#video-container .video-wrapper{padding-bottom:52.25%;padding-top:30px;height:0;overflow:hidden}
.thehimba .families-icons{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.thehimba .families-icons .item{padding:0 5px}
.thehimba .families h3{line-height:100px}
.thehimba .families button a{font-size:18px;padding:8px 25px}
.thehimba .numbers-icons{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.thehimba .numbers-icons .number{font-size:42px;padding:0 4px 0 8px}
.thehimba .numbers-icons .meta{font-size:14px;line-height:18px;word-wrap:break-word}
.thehimba .numbers-icons .item{width:auto;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin:0 15px}
.thehimba .numbers-icons .item img{width:auto;height:50px}
#tjisemo #hero{background:url(../img/f_2/backgrounds/section_1.jpg) no-repeat #2B1311;background-size:contain}
#tjisemo #hero .hero-texts{padding:36.8% 0 8.6%}
#tjisemo #about{background:url(../img/f_2/backgrounds/section_2.jpg) no-repeat #1a0806;background-size:contain}
#tjisemo #about .image_big{position:absolute;width:512px;height:785px;right:0;top:0}
#tjisemo #about .image_big .img_1{right:0;top:0;width:100%}
#tjisemo #about .tree{position:relative;padding-bottom:10%;color:#f8f5ee;text-align:center;background:none}
#tjisemo #about .tree svg{position:absolute;top:0;left:26px;width:1991px}
#tjisemo #about .tree .one{margin-left:-35px;padding-top:69px;width:1456px}
#tjisemo #about .tree .two{padding-top:34px;margin-left:-48px;width:1679px}
#tjisemo #about .tree .two .first{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:1116px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
#tjisemo #about .tree .two .second{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:445px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
#tjisemo #about .tree .three{padding-top:60px;width:1666px;margin-left:-67px}
#tjisemo #about .tree .three .first{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:1010px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
#tjisemo #about .tree .three .second{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:418px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
#tjisemo #about .tree .three .first .item{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
#tjisemo #about .tree .four{margin-left:86px;padding-top:0;margin-top:0}
#tjisemo #name{background:url(../img/f_2/backgrounds/section_3.jpg) no-repeat;background-size:cover}
#tjisemo #name img.child{bottom:-16%}
#tjisemo #name .big-text-box{margin:10% 0 0 10%;max-width:465px}
#tjisemo #name .inner-page{padding:15% 0}
#tjisemo #member1 .box p{text-align:right}
#tjisemo #member1 .box{padding:0 150px 0 0;float:right;text-align:right}
#tjisemo #member1 .box p{text-align:right}
#tjisemo #member1 .box .profile_image{position:absolute;right:2px;top:6px;right:45px;left:auto;top:-20px}
#tjisemo #member2 .corn{position:absolute;top:0;right:0;width:600px}
#tjisemo #family-members #member1:after{content:url(../img/f_2/layers/tjisemo_brush_1.png);bottom:-18px;z-index:100}
#tjisemo #family-members #member1 .video:after{background-image:-webkit-linear-gradient(left,rgba(10,6,5,0) 0%,rgba(10,6,5,0) 25%,#0A0605 55%,#0A0605 100%);background-image:linear-gradient(to right,rgba(10,6,5,0) 0%,rgba(10,6,5,0) 25%,#0A0605 55%,#0A0605 100%)}
#tjisemo #family-members #member2:after{content:url(../img/f_2/layers/tjisemo_brush_2.jpg);bottom:-18px;z-index:0}
#tjisemo #family-members #member3 img{position:absolute;right:-100px;top:-60%;z-index:10}
#tjisemo #family-members #member3:after{content:"";z-index:20;background:url(../img/f_2/layers/brush_7.png) repeat-x;height:30px}
#tjisemo #coming-of-age{background:url(../img/f_2/backgrounds/section_4.jpg) no-repeat;background-size:cover;z-index:-1}
#tjisemo #coming-of-age .image_big{position:absolute;top:15%;right:0;height:30%;width:40%}
#tjisemo #coming-of-age #pipe-man{position:absolute;left:0;top:5%;z-index:-1}
#tjisemo #coming-of-age .img_1{position:absolute;right:40%}
#tjisemo #coming-of-age .img_2{position:absolute;right:10%;top:15%}
#tjisemo #coming-of-age .img_3{position:absolute;top:40%;right:15%}
#tjisemo #coming-of-age .img_4{position:absolute;top:12%;right:41%}
#tjisemo #coming-of-age .img_5{position:absolute;right:0;top:30%}
#tjisemo #coming-of-age .img_6{position:absolute;right:60%}
#tjisemo #coming-of-age .img_7{position:absolute;top:40%;right:40%}
#tjisemo #coming-of-age .img_8{position:absolute;top:0;left:0}
#tjisemo #coming-of-age .img_9{position:absolute;right:60%;top:30%}
#tjisemo #family-feud{background:url(../img/f_2/backgrounds/section_5.jpg) no-repeat;background-size:cover}
#tjisemo #family-feud .big-text-box{margin:10% 0 24% 10%}
#tjisemo #family-feud img{position:absolute;right:0;top:0;z-index:100;width:45%}
#tjisemo #marriage{background:url(../img/f_2/backgrounds/tjisemo_bg_6.jpg) no-repeat;background-size:cover}
#tjisemo #marriage img{position:absolute;right:0;top:0;z-index:100;width:50%}
#tjisemo #father-died{background:url(../img/f_2/backgrounds/tjisemo_bg_7.jpg) no-repeat;background-size:cover}
#f_3 #hero{background:url(../img/f_3/backgrounds/section_1.jpg) no-repeat #ffc98b;background-size:cover}
#f_3 #hero .hero-texts{padding:33% 0 6%}
#f_3 #about{background:url(../img/f_3/backgrounds/section_2.jpg) no-repeat #ffc98b;background-size:contain}
#f_3 #about .big-text-box{max-width:400px}
#f_3 #about .image_big{right:0;top:0}
#f_3 #about .tree{background:none;position:relative;padding-bottom:10%}
#f_3 #about .tree svg{position:absolute;width:3020px;left:-1px;top:67px;text-align:center}
#f_3 #family-members:before{content:url(../img/f_3/backgrounds/brash_1.png);z-index:200!important;height:40px;top:-10px;position:absolute;overflow:visible}
#f_3 #member1:after{content:"";background:url(../img/f_3/backgrounds/brush_2.png) repeat-x;bottom:-18px;z-index:2;height:25px}
#f_3 #member2{background:#787c8e}
#f_3 #member2 .box{padding:0 150px 0 0;float:right;text-align:right}
#f_3 #member2 .box p{text-align:right}
#f_3 #member2 .box .profile_image{right:45px;left:auto;top:-20px}
#f_3 #family-members #member3{background:#fcfdec;z-index:10}
#f_3 #family-members #member3 .image_big{right:0;bottom:12px;position:absolute;width:35.7%}
#f_3 #gun{background:url(../img/f_3/backgrounds/section_4.jpg) no-repeat #ffc98b;background-size:1920px 100%}
#f_3 #gun:after{content:"";background:url(../img/f_3/backgrounds/section_4_2.png) no-repeat #ffc98b;position:absolute;bottom:0;height:280px;width:100%;background-size:cover}
#f_3 #death{background:url(../img/f_3/backgrounds/section_5.jpg) no-repeat #ffc98b;background-size:1920px 100%}
#f_3 #death .big-text-box{margin:20% 0 15% 38%;max-width:570px}
#f_3 #gun .big-text-box{margin:25% 0 42% 10%;max-width:570px}
#f_3 #gun .big-text-box p{margin:0}
#f_3 #gun .image_big{bottom:128px;z-index:20;top:auto}
#f_3 #help{background:url(../img/f_3/backgrounds/section_6.jpg) no-repeat #ffc98b}
#f_3 #help .big-text-box{margin:30% 0 14% 10%}
#f_3 #young{background:url(../img/f_3/backgrounds/section_7.jpg) no-repeat #ffc98b;background-size:1920px 100%}
#f_3 #young .big-text-box{margin:16% 0 15% 43%}
#f_3 #new_home{background:url(../img/f_3/backgrounds/section_8.jpg) no-repeat #2b201d;background-size:100% 100%}
#f_3 #new_home .big-text-box{margin:16% 0 15% 43%}
#f_4 #hero{background:url(../img/f_4/backgrounds/tablet/section_1.jpg) no-repeat;background-size:cover}
#f_4 #hero .hero-texts { padding: 43% 0 8.6%;}
#f_4 #about{background:url(../img/f_4/backgrounds/tablet/section_2.jpg) no-repeat #c5bb8c;background-size:cover;}
#f_4 #about .inner-page {margin-bottom: 15%}
#f_4 #about .big-text-box { padding: 0;margin: 10% 15% 22%;}
#f_4 #about .big-text-box p {text-align: left;padding: 0 30% 12% 0;}
#f_4 #about .image_big .img_2 {    position: absolute;left: 0;top: 350px;}
#f_4 #member2 .box{padding:0 150px 0 0;float:right;text-align:right}
#f_4 #member2 .box p{text-align:right}
#f_4 #member2 .box .profile_image{right:45px;left:auto;top:-20px}
#f_4 #family-members #member2 .image_big {position: absolute;z-index: 1;left: 0;bottom: 0;width: 100%;}
#f_4 #about .image_big .img_3 { position: absolute;top: 63%;width: 56%;left: 0;right: 0px;margin: 0 auto;}
#f_4 #about .item {position: absolute;display: flex;}
#f_4 #about .item .number {font-size: 34px;color: #2c2b2c;font-weight: bold;}
#f_4 #about .item .meta { padding: 0;line-height: 16px;font-size: 12px;margin: 7px 0 3px 3px;}
#f_4 #about .item img {margin-top: 10px;}
#f_4 #about .item1 {top: 68%;right:10%;} 
#f_4 #about .item2 {top: 67%;right: 42%;transform: rotate(-13deg);transform-origin: left top 0;} 
#f_4 #about .item2 .meta {margin: 24px 0 3px;}
#f_4 #about .item3 {top: 77%;left:23%;} 
#f_4 #about .tree{display: none;}
#f_4 #family-members:before{content:url(../img/f_4/backgrounds/tablet/brush_1.jpg);height:40px;top:0px;}
#f_4 #family-members #member1:after { content: url(../img/f_4/backgrounds/tablet/brush_2.jpg);}
#f_4 #family-members #member2:after { content: url(../img/f_4/backgrounds/tablet/brush_3.png);z-index: 30;bottom: -20px;}
#f_4 #family-members #member3 { background:url(../img/f_4/backgrounds/tablet/section_4.jpg) no-repeat #c5bb8c;background-size:cover;}
#f_4 #family-members #member3 .image_big {position: absolute;top:0;right: 0;}
#f_4 #family-members #member3:after {content: url(../img/f_4/backgrounds/tablet/brush_4.png);z-index: 30;bottom: -7px;background: transparent;}
#f_4 #section4 {background:url(../img/f_4/backgrounds/tablet/section_5.jpg) no-repeat #ffc98b;background-size:cover}
#f_4 #section4 .image_big {position: absolute;right: 0;top: 138px;}
#f_4 #section4 .big-text-box {margin: 10% 0 54% 10%;}
#f_4 #section4 .big-text-box p {padding: 100px 120px 0 0;}
#f_4 #section5 {background:url(../img/f_4/backgrounds/tablet/section_6.jpg) no-repeat #fbd49c;background-size:100%}
#f_4 #section5 .big-text-box {padding: 0;}
#f_4 #section6 {background:url(../img/f_4/backgrounds/tablet/section_7.jpg) no-repeat #fbd49c;background-size:100%}
#f_4 #section6 .big-text-box {padding: 0;max-width: 480px;margin:13% 0 5% 50%;}
#f_4 #section6 .big-text-box .qoute:after {right: -14px;}
#f_4 #section6 .img {position: absolute;left:0;bottom: -50px;}
#f_4 #section6 .img_1 {z-index: 10;width: 50%}
#f_4 #section6 .img_2 {width: 20%;}
#f_4 #section7 {background: url(../img/f_4/backgrounds/tablet/section_8.jpg) no-repeat #8F4B40 0 100%;background-size: contain;padding-bottom: 100%;}
#f_4 #section7 .big-text-box {margin: 13% 0 0% 10%;}

/* 1024 styles */

@media screen and (min-width: 1024px) {
#hembinda #about .big-text-box{margin:40% 0 0 10%;padding:0;max-width:380px}
#hembinda #about .image_big{top:-22%;right:-11%}
#hembinda #about .image_big img{width:34%}
#hembinda #about .image_big .img_1{right:-10%}
#hembinda #about .image_big .img_2{right:9%}
#hembinda #about .image_big .img_3{right:25%}
#hembinda #about .tree{margin:20% 0 0}
#hembinda #name .big-text-box{max-width:400px}
#hembinda #name .big-text-box h3:after{right:90px}
#family-members .member .inner-page{padding-top:70px}
#f_4 #family-members #member1:after {content: url(../img/f_4/backgrounds/brush_2.jpg);}
#hembinda #family-members #member2 .image_big{z-index:20}
#hembinda #family-members #member2 .box p{padding-left:0}
#tjisemo #member2 .corn{top:20%}
#tjisemo #marriage .first .big-text-box{margin:30% 0 12% 10%}
#f_3 #family-members #member3 .image_big{bottom:6px}
#f_4 #hero{background:url(../img/f_4/backgrounds/section_1.jpg) no-repeat;background-size:cover}
#f_4 #hero .hero-texts {padding:34% 0 8.6%;}
#f_4 #about{background:url(../img/f_4/backgrounds/section_1-02.jpg) no-repeat #c5bb8c;background-size:cover;}
#f_4 #about .image_big .img_2 {    position: absolute;left: 0;top: 350px;}
#f_4 #about .image_big .img_3 { position: absolute;top: 44%;width: 56%;left: 0;right: 86px;margin: 0 auto;}
#f_4 #about .item1 {top: 48%;right:16%;} 
#f_4 #about .item2 {top: 57%;right: 42%;transform: rotate(-13deg);transform-origin: left top 0;} 
#f_4 #about .item2 .meta {margin: 24px 0 3px;}
#f_4 #about .item3 {top: 61%;left:14%;} 
#f_4 #family-members:before {content: url(../img/f_4/backgrounds/brush_1.jpg);top:-5px;}
#f_4 #family-members #member2:after {content: url(../img/f_4/backgrounds/brush_3.jpg);z-index: 30;bottom: -20px;}
#f_4 #family-members #member3 {height: 330px;}
#f_4 #family-members #member3:after {content: url(../img/f_4/backgrounds/brush_4.jpg);z-index: 30;}
#f_4 #section4 .inner-page {height: 650px;}
#f_4 #section4 .big-text-box p {padding: 20px 120px 0 0;}
#f_4 #section4 .image_big {top:-50px;}
#f_4 #section5 .inner-page {height: 621px;}
}

/* 1280 styles */

@media screen and (min-width: 1280px) {
h2{font-size:18px}
h3{font-size:58px;line-height:58px;margin-bottom:1px;letter-spacing:-.6px}
p{font-size:18px;line-height:30px}
.big-text-box{max-width:600px}
.big-text-box h3 span{font-size:88px;line-height:88px}
.big-text-box h3:before{content:'';width:56px;height:56px;background:url(../img/assets/quotes.png) no-repeat 0 0;top:-22px;left:-66px}
.big-text-box h3 span:after{content:'';width:56px;height:55px;background:url(../img/assets/quotes.png) no-repeat -54px 0;background-size:auto 100%;top:121px;right:0}
.featherlight .featherlight-content{margin-left:22%;margin-right:22%}
.big-text-box h3 span:after{top:40px}
#hero h1{padding:0;font:100px PeperoncinoSans}
#about .image_big{top:-16%}
#hembinda #about .image_big img{width:30%}
#about .image_big .img_3{right:28%}
#name img.child{right:-70%}
#name:after{content:""}
#family-members #member2 .image_big{left:0}
#family-members .box{max-width:815px}
#family-members .member{height:400px}
#family-members .member .inner-page{padding-top:140px}
#steps .item{width:49%;position:relative}
#steps .item .animate img{max-width:100%}
#steps h2{margin:0 0 0 7%}
#steps .steps_desc{width:32%;margin:2% 0 0 7%}
#steps .steps-inner{max-width:90%;margin:0 auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:column nowrap;-ms-flex-flow:column nowrap;flex-flow:column nowrap;overflow:hidden}
#steps .steps-inner .image{float:left}
#steps .item:nth-child(even){-webkit-align-self:flex-end;-ms-flex-item-align:end;align-self:flex-end}
#steps .item p{padding:80px 0 0 20px}
#steps .item .arrow{width:359px;height:68px;left:50%;top:95%;position:absolute}
#steps .item:nth-child(even) .arrow{width:359px;height:68px;left:-60%;top:95%;position:absolute;height:148px}
#steps .arrow span{background:url(../img/assets/arrow_right.png) no-repeat 0 0;background-size:350px;left:0;right:auto;position:absolute;width:100%;height:100%}
#steps .item_right .arrow span{background-image:url(../img/assets/arrow_left.png);background-size:339px;background-position:top right;left:auto;right:0}
.home .text-box h1{font-size:100px;line-height:43px;margin:0 0 20px}
.home .text-box h2{font-size:20px;line-height:50px}
.home footer p{text-align:center;font-size:18px;margin:25px 0 0}
.thehimba h2{margin-bottom:125px}
.thehimba .numbers-icons .item:first-child .meta{width:30px}
.thehimba .numbers-icons .item:nth-child(2) .meta{width:50px}
#hembinda #about .big-text-box{max-width:535px}
#hembinda #name img.child{right:-140%}
#hembinda #name .big-text-box h3:after{left:364px}
#hembinda #family-members #member2 .box{padding:0 0 0 300px}
#tjisemo #hero{background-size:cover}
#tjisemo #about .image_big .img_1{right:0;top:0}
#tjisemo #name .big-text-box{max-width:600px}
#tjisemo #member2 .corn{top:5%}
#f_3 #hero .hero-texts{padding:33% 0 5%}
#f_3 #about .big-text-box{max-width:550px;margin:25% 0 20% 10%}
#f_3 #about .image_big{top:-3%}
#f_3 #about .image_big .img_1{width:94%}
#f_3 #family-members .member .inner-page{padding-top:140px}
#f_3 #family-members #member3 .image_big{bottom:2px}
#f_3 #members h2{margin-left:35px}
}

/* 1400 syles */

@media screen and (min-width: 1400px) {
h3{font-size:41px}
.inner-page{position:relative;height:100%}
.big-text-box{width:100%;max-width:700px;margin:30% 0 10% 10%}
.big-text-box h3{font-size:41px}
.big-text-box h3,.big-text-box p{max-width:700px}
.big-text-box h3 span:after{top:50px}
.home .circule li{background:url(../img/assets/namibia.png) no-repeat 50% 50%;width:291px;height:302px;padding-top:100%}
.home .circule a.link1 li:after{background-size:inherit;width:291px;height:302px;bottom:8px;left:-9px}
.home .circule li.papua{background:url(../img/assets/papua1.png) no-repeat 50% 50%}
#about .image_big{right:-15%}
#name{padding:inherit}
#name img.child{right:-100%}
.home .text-box h1{font-size:133px;line-height:43px;margin:0 0 40px}
#about{padding:50px 0}
#hembinda #about .big-text-box{margin:25% 0 0 10%;max-width:528px}
#hembinda #about .image_big{top:-15%;right:3%}
#hembinda #about .image_big .img_1{right:-11%}
#hembinda #about .tree{margin:38% 0 0}
#hembinda #drought .second .big-text-box{margin:15% 0 10% 10%}
#hembinda #family-members #member1 .video video{width:1300px!important;left:75%!important}
#tjisemo #hero .hero-texts{padding:36.8% 0 14%}
#tjisemo #about .image_big{width:800px;height:auto}
#tjisemo #name .big-text-box{margin:0 0 0 10%;max-width:750px}
#tjisemo #member2 .corn{width:auto}
#tjisemo #family-feud{padding-bottom:5%}
#tjisemo #marriage,#tjisemo #father-died{padding-bottom:7%}
#tjisemo #coming-of-age #pipe-man img{width:100%}
#f_3 #hero .hero-texts{padding:33% 0 7%}
#f_3 #family-members #member3 .image_big{bottom:-5px}
#f_3 #about .big-text-box{max-width:600px;margin:25% 0 20% 10%}
#f_3 #gun,#f_3 #death,#f_3 #help,#f_3 #young{background-size:cover}
#f_3 #death .image_big{left:10%;top:25%}
}
@media screen and (max-width: 800px) {
.hide-teblet{display:none}
}
@media screen and (min-width: 1900px) {
#hembinda #about .tree{margin:38% 0 0 500px}
#hembinda #about .tree svg{position:absolute;width:2200px;bottom:243px;left:632px}
#hembinda #name img.child{right:-300%;width:158%}
}
#loader-wrapper{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000}
.loader_logo{width:200px;fill:#fff;position:absolute;top:40%;margin:0 auto;left:0;right:0}
#loader-wrapper .spinner{-webkit-animation:spin 5s infinite linear;animation:spin 5s infinite linear;z-index:1001;width:100px;height:102px;border-radius:100%;position:absolute;top:50%;left:calc(50% - 50px)}
#loader-wrapper .circle{width:100%;height:100%;position:absolute}
#loader-wrapper .circle .inner{width:100%;height:100%;border-radius:100%;border:5px solid rgba(231,111,48,0.2);border-right:none;border-top:none;backgroudn-clip:padding;box-shadow:inset 0 0 10px rgba(47,27,14,0.15)}
@-webkit-keyframes spin {
from{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes spin {
from{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
#loader-wrapper .circle:nth-of-type(0){-webkit-transform:rotate(0deg);transform:rotate(0deg)}
#loader-wrapper .circle:nth-of-type(0) .inner{-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear}
#loader-wrapper .circle:nth-of-type(1){-webkit-transform:rotate(70deg);transform:rotate(70deg)}
#loader-wrapper .circle:nth-of-type(1) .inner{-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear}
#loader-wrapper .circle:nth-of-type(2){-webkit-transform:rotate(140deg);transform:rotate(140deg)}
#loader-wrapper .circle:nth-of-type(2) .inner{-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear}
#loader-wrapper .spinner{-webkit-animation:spin 5s infinite linear;animation:spin 5s infinite linear}
#loader-wrapper .loader-section{position:fixed;top:0;width:100%;height:100%;background:url(../img/assets/preload-back.jpg) #222;background-size:cover;z-index:1000}
#loader-wrapper .loader-section.section-right{right:0}
.loaded #loader-wrapper .loader-section.section-left{-webkit-transform:translateX(-100%);transform:translateX(-100%)}
.loaded #loader-wrapper .loader-section.section-right{-webkit-transform:translateX(100%);transform:translateX(100%)}
.loaded #loader{opacity:0}
.loaded #loader-wrapper{opacity:0;visibility:hidden;-webkit-transition:all .3s ease-out;transition:all .3s ease-out}
.loaded #loader{opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out}
.loaded #loader-wrapper .loader-section{-webkit-transition:all .3s .3s ease-out;transition:all .3s .3s ease-out}
.loaded #loader-wrapper{-webkit-transition:all .3s .6s ease-out;transition:all .3s .6s ease-out}
.owl-carousel .animated{-webkit-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.owl-carousel .owl-animated-in{z-index:0}
.owl-carousel .owl-animated-out{z-index:1}
.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}
@-webkit-keyframes fadeOut {
0%{opacity:1}
100%{opacity:0}
}
@keyframes fadeOut {
0%{opacity:1}
100%{opacity:0}
}
.owl-height{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}
.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}
.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;height:100%}
.owl-carousel .owl-stage:after{content:". ";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;height:100%;-webkit-transform:translate3d(0px,0px,0px)}
.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-dot{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel.owl-loaded{display:block}
.owl-carousel.owl-loading{opacity:0;display:block}
.owl-carousel.owl-hidden{opacity:0}
.owl-carousel .owl-refresh .owl-item{display:none}
.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;height:100%;cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}
.owl-carousel .owl-item img{display:block;-webkit-transform-style:preserve-3d}
.owl-carousel.owl-text-select-on .owl-item{-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}
.owl-carousel.owl-rtl{direction:rtl}
.owl-carousel.owl-rtl .owl-item{float:right}
.no-js .owl-carousel{display:block}
.owl-carousel .owl-item .owl-lazy{opacity:0;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}
.owl-carousel .owl-item img{transform-style:preserve-3d}
.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}
.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png.html) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;-webkit-transition:scale 100ms ease;-moz-transition:scale 100ms ease;-ms-transition:scale 100ms ease;-o-transition:scale 100ms ease;transition:scale 100ms ease}
.owl-carousel .owl-video-play-icon:hover{-webkit-transition:scale(1.3,1.3);-moz-transition:scale(1.3,1.3);-ms-transition:scale(1.3,1.3);-o-transition:scale(1.3,1.3);transition:scale(1.3,1.3)}
.owl-carousel .owl-video-playing .owl-video-tn,.owl-carousel .owl-video-playing .owl-video-play-icon{display:none}
.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}
.owl-carousel .owl-video-frame{position:relative;z-index:1}
.owl-carousel .owl-dots{position:absolute;left:0;bottom:32px;width:100%;font-size:0;text-align:center;z-index:10}
.owl-carousel .owl-dots .owl-dot{width:8px;height:8px;margin:0 5.5px;display:inline-block;border:1px solid #FFF;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;-webkit-transition:all .1s ease-out;-moz-transition:all .1s ease-out;-o-transition:all .1s ease-out;transition:all .1s ease-out}
.owl-carousel .owl-dots .owl-dot:hover{background:#24C76D}
.owl-carousel .owl-dots .owl-dot.active{background-color:#FFF}
.owl-prev,.owl-next{height:40px;line-height:44px;font-size:28px;left:-7px;position:absolute;top:50%;margin-top:-20px;color:#D9D9D9;overflow:hidden;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;-webkit-backface-visibility:hidden}
.owl-next{right:-7px;left:auto}
.owl-prev:after,.owl-next:after{font-family:'blossomicons';speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;content:'\e906';-webkit-transform-style:preserve-3d}
.owl-next:after{content:"\e905";-webkit-transform-style:preserve-3d}
.owl-prev:hover,.owl-next:hover{color:#B9B9B9}