.flaticon-A:before {
	content: "\41";
}
.flaticon-Aacute:before {
	content: "\c1";
}
.flaticon-Abreve:before {
	content: "\102";
}
.flaticon-Acircumflex:before {
	content: "\c2";
}
.flaticon-Adieresis:before {
	content: "\c4";
}
.flaticon-Agrave:before {
	content: "\c0";
}
.flaticon-Amacron:before {
	content: "\100";
}
.flaticon-Aogonek:before {
	content: "\104";
}
.flaticon-Aring:before {
	content: "\c5";
}
.flaticon-Atilde:before {
	content: "\c3";
}
.flaticon-AE:before {
	content: "\c6";
}
.flaticon-B:before {
	content: "\42";
}
.flaticon-C:before {
	content: "\43";
}
.flaticon-Cacute:before {
	content: "\106";
}
.flaticon-Ccaron:before {
	content: "\10c";
}
.flaticon-Ccedilla:before {
	content: "\c7";
}
.flaticon-Cdotaccent:before {
	content: "\10a";
}
.flaticon-D:before {
	content: "\44";
}
.flaticon-Eth:before {
	content: "\d0";
}
.flaticon-Dcaron:before {
	content: "\10e";
}
.flaticon-Dcroat:before {
	content: "\110";
}
.flaticon-E:before {
	content: "\45";
}
.flaticon-Eacute:before {
	content: "\c9";
}
.flaticon-Ecaron:before {
	content: "\11a";
}
.flaticon-Ecircumflex:before {
	content: "\ca";
}
.flaticon-Edieresis:before {
	content: "\cb";
}
.flaticon-Edotaccent:before {
	content: "\116";
}
.flaticon-Egrave:before {
	content: "\c8";
}
.flaticon-Emacron:before {
	content: "\112";
}
.flaticon-Eogonek:before {
	content: "\118";
}
.flaticon-F:before {
	content: "\46";
}
.flaticon-G:before {
	content: "\47";
}
.flaticon-Gbreve:before {
	content: "\11e";
}
.flaticon-Gcommaaccent:before {
	content: "\122";
}
.flaticon-Gdotaccent:before {
	content: "\120";
}
.flaticon-H:before {
	content: "\48";
}
.flaticon-Hbar:before {
	content: "\126";
}
.flaticon-I:before {
	content: "\49";
}
.flaticon-IJ:before {
	content: "\132";
}
.flaticon-Iacute:before {
	content: "\cd";
}
.flaticon-Icircumflex:before {
	content: "\ce";
}
.flaticon-Idieresis:before {
	content: "\cf";
}
.flaticon-Idotaccent:before {
	content: "\130";
}
.flaticon-Igrave:before {
	content: "\cc";
}
.flaticon-Imacron:before {
	content: "\12a";
}
.flaticon-Iogonek:before {
	content: "\12e";
}
.flaticon-J:before {
	content: "\4a";
}
.flaticon-K:before {
	content: "\4b";
}
.flaticon-Kcommaaccent:before {
	content: "\136";
}
.flaticon-L:before {
	content: "\4c";
}
.flaticon-Lacute:before {
	content: "\139";
}
.flaticon-Lcaron:before {
	content: "\13d";
}
.flaticon-Lcommaaccent:before {
	content: "\13b";
}
.flaticon-Ldot:before {
	content: "\13f";
}
.flaticon-Lslash:before {
	content: "\141";
}
.flaticon-M:before {
	content: "\4d";
}
.flaticon-N:before {
	content: "\4e";
}
.flaticon-Nacute:before {
	content: "\143";
}
.flaticon-Ncaron:before {
	content: "\147";
}
.flaticon-Ncommaaccent:before {
	content: "\145";
}
.flaticon-Eng:before {
	content: "\14a";
}
.flaticon-Ntilde:before {
	content: "\d1";
}
.flaticon-O:before {
	content: "\4f";
}
.flaticon-Oacute:before {
	content: "\d3";
}
.flaticon-Ocircumflex:before {
	content: "\d4";
}
.flaticon-Odieresis:before {
	content: "\d6";
}
.flaticon-Ograve:before {
	content: "\d2";
}
.flaticon-Ohungarumlaut:before {
	content: "\150";
}
.flaticon-Omacron:before {
	content: "\14c";
}
.flaticon-Oslash:before {
	content: "\d8";
}
.flaticon-Otilde:before {
	content: "\d5";
}
.flaticon-OE:before {
	content: "\152";
}
.flaticon-P:before {
	content: "\50";
}
.flaticon-Thorn:before {
	content: "\de";
}
.flaticon-Q:before {
	content: "\51";
}
.flaticon-R:before {
	content: "\52";
}
.flaticon-Racute:before {
	content: "\154";
}
.flaticon-Rcaron:before {
	content: "\158";
}
.flaticon-Rcommaaccent:before {
	content: "\156";
}
.flaticon-S:before {
	content: "\53";
}
.flaticon-Sacute:before {
	content: "\15a";
}
.flaticon-Scaron:before {
	content: "\160";
}
.flaticon-Scedilla:before {
	content: "\15e";
}
.flaticon-Scommaaccent:before {
	content: "\218";
}
.flaticon-T:before {
	content: "\54";
}
.flaticon-Tbar:before {
	content: "\166";
}
.flaticon-Tcaron:before {
	content: "\164";
}
.flaticon-Tcedilla:before {
	content: "\162";
}
.flaticon-Tcommaaccent:before {
	content: "\21a";
}
.flaticon-U:before {
	content: "\55";
}
.flaticon-Uacute:before {
	content: "\da";
}
.flaticon-Ucircumflex:before {
	content: "\db";
}
.flaticon-Udieresis:before {
	content: "\dc";
}
.flaticon-Ugrave:before {
	content: "\d9";
}
.flaticon-Uhungarumlaut:before {
	content: "\170";
}
.flaticon-Umacron:before {
	content: "\16a";
}
.flaticon-Uogonek:before {
	content: "\172";
}
.flaticon-Uring:before {
	content: "\16e";
}
.flaticon-V:before {
	content: "\56";
}
.flaticon-W:before {
	content: "\57";
}
.flaticon-Wacute:before {
	content: "\1e82";
}
.flaticon-Wcircumflex:before {
	content: "\174";
}
.flaticon-Wdieresis:before {
	content: "\1e84";
}
.flaticon-Wgrave:before {
	content: "\1e80";
}
.flaticon-X:before {
	content: "\58";
}
.flaticon-Y:before {
	content: "\59";
}
.flaticon-Yacute:before {
	content: "\dd";
}
.flaticon-Ycircumflex:before {
	content: "\176";
}
.flaticon-Ydieresis:before {
	content: "\178";
}
.flaticon-Ygrave:before {
	content: "\1ef2";
}
.flaticon-Z:before {
	content: "\5a";
}
.flaticon-Zacute:before {
	content: "\179";
}
.flaticon-Zcaron:before {
	content: "\17d";
}
.flaticon-Zdotaccent:before {
	content: "\17b";
}
.flaticon-a:before {
	content: "\61";
}
.flaticon-aacute:before {
	content: "\e1";
}
.flaticon-abreve:before {
	content: "\103";
}
.flaticon-acircumflex:before {
	content: "\e2";
}
.flaticon-adieresis:before {
	content: "\e4";
}
.flaticon-agrave:before {
	content: "\e0";
}
.flaticon-amacron:before {
	content: "\101";
}
.flaticon-aogonek:before {
	content: "\105";
}
.flaticon-aring:before {
	content: "\e5";
}
.flaticon-atilde:before {
	content: "\e3";
}
.flaticon-ae:before {
	content: "\e6";
}
.flaticon-b:before {
	content: "\62";
}
.flaticon-c:before {
	content: "\63";
}
.flaticon-cacute:before {
	content: "\107";
}
.flaticon-ccaron:before {
	content: "\10d";
}
.flaticon-ccedilla:before {
	content: "\e7";
}
.flaticon-cdotaccent:before {
	content: "\10b";
}
.flaticon-d:before {
	content: "\64";
}
.flaticon-eth:before {
	content: "\f0";
}
.flaticon-dcaron:before {
	content: "\10f";
}
.flaticon-dcroat:before {
	content: "\111";
}
.flaticon-e:before {
	content: "\65";
}
.flaticon-eacute:before {
	content: "\e9";
}
.flaticon-ecaron:before {
	content: "\11b";
}
.flaticon-ecircumflex:before {
	content: "\ea";
}
.flaticon-edieresis:before {
	content: "\eb";
}
.flaticon-edotaccent:before {
	content: "\117";
}
.flaticon-egrave:before {
	content: "\e8";
}
.flaticon-emacron:before {
	content: "\113";
}
.flaticon-eogonek:before {
	content: "\119";
}
.flaticon-f:before {
	content: "\66";
}
.flaticon-g:before {
	content: "\67";
}
.flaticon-gbreve:before {
	content: "\11f";
}
.flaticon-gcommaaccent:before {
	content: "\123";
}
.flaticon-gdotaccent:before {
	content: "\121";
}
.flaticon-h:before {
	content: "\68";
}
.flaticon-hbar:before {
	content: "\127";
}
.flaticon-i:before {
	content: "\69";
}
.flaticon-dotlessi:before {
	content: "\131";
}
.flaticon-iacute:before {
	content: "\ed";
}
.flaticon-icircumflex:before {
	content: "\ee";
}
.flaticon-idieresis:before {
	content: "\ef";
}
.flaticon-igrave:before {
	content: "\ec";
}
.flaticon-ij:before {
	content: "\133";
}
.flaticon-imacron:before {
	content: "\12b";
}
.flaticon-iogonek:before {
	content: "\12f";
}
.flaticon-j:before {
	content: "\6a";
}
.flaticon-k:before {
	content: "\6b";
}
.flaticon-kcommaaccent:before {
	content: "\137";
}
.flaticon-l:before {
	content: "\6c";
}
.flaticon-lacute:before {
	content: "\13a";
}
.flaticon-lcaron:before {
	content: "\13e";
}
.flaticon-lcommaaccent:before {
	content: "\13c";
}
.flaticon-ldot:before {
	content: "\140";
}
.flaticon-lslash:before {
	content: "\142";
}
.flaticon-m:before {
	content: "\6d";
}
.flaticon-n:before {
	content: "\6e";
}
.flaticon-nacute:before {
	content: "\144";
}
.flaticon-ncaron:before {
	content: "\148";
}
.flaticon-ncommaaccent:before {
	content: "\146";
}
.flaticon-eng:before {
	content: "\14b";
}
.flaticon-ntilde:before {
	content: "\f1";
}
.flaticon-o:before {
	content: "\6f";
}
.flaticon-oacute:before {
	content: "\f3";
}
.flaticon-ocircumflex:before {
	content: "\f4";
}
.flaticon-odieresis:before {
	content: "\f6";
}
.flaticon-ograve:before {
	content: "\f2";
}
.flaticon-ohungarumlaut:before {
	content: "\151";
}
.flaticon-omacron:before {
	content: "\14d";
}
.flaticon-oslash:before {
	content: "\f8";
}
.flaticon-otilde:before {
	content: "\f5";
}
.flaticon-oe:before {
	content: "\153";
}
.flaticon-p:before {
	content: "\70";
}
.flaticon-thorn:before {
	content: "\fe";
}
.flaticon-q:before {
	content: "\71";
}
.flaticon-r:before {
	content: "\72";
}
.flaticon-racute:before {
	content: "\155";
}
.flaticon-rcaron:before {
	content: "\159";
}
.flaticon-rcommaaccent:before {
	content: "\157";
}
.flaticon-s:before {
	content: "\73";
}
.flaticon-sacute:before {
	content: "\15b";
}
.flaticon-scaron:before {
	content: "\161";
}
.flaticon-scedilla:before {
	content: "\15f";
}
.flaticon-scommaaccent:before {
	content: "\219";
}
.flaticon-germandbls:before {
	content: "\df";
}
.flaticon-t:before {
	content: "\74";
}
.flaticon-tbar:before {
	content: "\167";
}
.flaticon-tcaron:before {
	content: "\165";
}
.flaticon-tcedilla:before {
	content: "\163";
}
.flaticon-tcommaaccent:before {
	content: "\21b";
}
.flaticon-u:before {
	content: "\75";
}
.flaticon-uacute:before {
	content: "\fa";
}
.flaticon-ucircumflex:before {
	content: "\fb";
}
.flaticon-udieresis:before {
	content: "\fc";
}
.flaticon-ugrave:before {
	content: "\f9";
}
.flaticon-uhungarumlaut:before {
	content: "\171";
}
.flaticon-umacron:before {
	content: "\16b";
}
.flaticon-uogonek:before {
	content: "\173";
}
.flaticon-uring:before {
	content: "\16f";
}
.flaticon-v:before {
	content: "\76";
}
.flaticon-w:before {
	content: "\77";
}
.flaticon-wacute:before {
	content: "\1e83";
}
.flaticon-wcircumflex:before {
	content: "\175";
}
.flaticon-wdieresis:before {
	content: "\1e85";
}
.flaticon-wgrave:before {
	content: "\1e81";
}
.flaticon-x:before {
	content: "\78";
}
.flaticon-y:before {
	content: "\79";
}
.flaticon-yacute:before {
	content: "\fd";
}
.flaticon-ycircumflex:before {
	content: "\177";
}
.flaticon-ydieresis:before {
	content: "\ff";
}
.flaticon-ygrave:before {
	content: "\1ef3";
}
.flaticon-z:before {
	content: "\7a";
}
.flaticon-zacute:before {
	content: "\17a";
}
.flaticon-zcaron:before {
	content: "\17e";
}
.flaticon-zdotaccent:before {
	content: "\17c";
}
.flaticon-ordfeminine:before {
	content: "\aa";
}
.flaticon-ordmasculine:before {
	content: "\ba";
}
.flaticon-zero:before {
	content: "\30";
}
.flaticon-one:before {
	content: "\31";
}
.flaticon-two:before {
	content: "\32";
}
.flaticon-three:before {
	content: "\33";
}
.flaticon-four:before {
	content: "\34";
}
.flaticon-five:before {
	content: "\35";
}
.flaticon-six:before {
	content: "\36";
}
.flaticon-seven:before {
	content: "\37";
}
.flaticon-eight:before {
	content: "\38";
}
.flaticon-nine:before {
	content: "\39";
}
.flaticon-onehalf:before {
	content: "\bd";
}
.flaticon-onequarter:before {
	content: "\bc";
}
.flaticon-threequarters:before {
	content: "\be";
}
.flaticon-uni00B9:before {
	content: "\b9";
}
.flaticon-uni00B2:before {
	content: "\b2";
}
.flaticon-uni00B3:before {
	content: "\b3";
}
.flaticon-asterisk:before {
	content: "\2a";
}
.flaticon-backslash:before {
	content: "\5c";
}
.flaticon-colon:before {
	content: "\3a";
}
.flaticon-comma:before {
	content: "\2c";
}
.flaticon-exclam:before {
	content: "\21";
}
.flaticon-exclamdown:before {
	content: "\a1";
}
.flaticon-numbersign:before {
	content: "\23";
}
.flaticon-period:before {
	content: "\2e";
}
.flaticon-periodcentered:before {
	content: "\b7";
}
.flaticon-question:before {
	content: "\3f";
}
.flaticon-questiondown:before {
	content: "\bf";
}
.flaticon-quotedbl:before {
	content: "\22";
}
.flaticon-quotesingle:before {
	content: "\27";
}
.flaticon-semicolon:before {
	content: "\3b";
}
.flaticon-slash:before {
	content: "\2f";
}
.flaticon-underscore:before {
	content: "\5f";
}
.flaticon-braceleft:before {
	content: "\7b";
}
.flaticon-braceright:before {
	content: "\7d";
}
.flaticon-bracketleft:before {
	content: "\5b";
}
.flaticon-bracketright:before {
	content: "\5d";
}
.flaticon-parenleft:before {
	content: "\28";
}
.flaticon-parenright:before {
	content: "\29";
}
.flaticon-hyphen:before {
	content: "\2d";
}
.flaticon-guillemotleft:before {
	content: "\ab";
}
.flaticon-guillemotright:before {
	content: "\bb";
}
.flaticon-quotedblleft:before {
	content: "\201c";
}
.flaticon-quotedblright:before {
	content: "\201d";
}
.flaticon-quoteleft:before {
	content: "\2018";
}
.flaticon-quoteright:before {
	content: "\2019";
}
.flaticon-cent:before {
	content: "\a2";
}
.flaticon-currency:before {
	content: "\a4";
}
.flaticon-dollar:before {
	content: "\24";
}
.flaticon-euro:before {
	content: "\20ac";
}
.flaticon-sterling:before {
	content: "\a3";
}
.flaticon-yen:before {
	content: "\a5";
}
.flaticon-asciitilde:before {
	content: "\7e";
}
.flaticon-divide:before {
	content: "\f7";
}
.flaticon-equal:before {
	content: "\3d";
}
.flaticon-greater:before {
	content: "\3e";
}
.flaticon-less:before {
	content: "\3c";
}
.flaticon-logicalnot:before {
	content: "\ac";
}
.flaticon-multiply:before {
	content: "\d7";
}
.flaticon-percent:before {
	content: "\25";
}
.flaticon-plus:before {
	content: "\2b";
}
.flaticon-plusminus:before {
	content: "\b1";
}
.flaticon-uni00B5:before {
	content: "\b5";
}
.flaticon-ampersand:before {
	content: "\26";
}
.flaticon-asciicircum:before {
	content: "\5e";
}
.flaticon-at:before {
	content: "\40";
}
.flaticon-bar:before {
	content: "\7c";
}
.flaticon-brokenbar:before {
	content: "\a6";
}
.flaticon-copyright:before {
	content: "\a9";
}
.flaticon-degree:before {
	content: "\b0";
}
.flaticon-paragraph:before {
	content: "\b6";
}
.flaticon-registered:before {
	content: "\ae";
}
.flaticon-section:before {
	content: "\a7";
}
.flaticon-trademark:before {
	content: "\2122";
}
.flaticon-acute:before {
	content: "\b4";
}
.flaticon-breve:before {
	content: "\2d8";
}
.flaticon-caron:before {
	content: "\2c7";
}
.flaticon-cedilla:before {
	content: "\b8";
}
.flaticon-circumflex:before {
	content: "\2c6";
}
.flaticon-dieresis:before {
	content: "\a8";
}
.flaticon-dotaccent:before {
	content: "\2d9";
}
.flaticon-grave:before {
	content: "\60";
}
.flaticon-hungarumlaut:before {
	content: "\2dd";
}
.flaticon-macron:before {
	content: "\af";
}
.flaticon-ogonek:before {
	content: "\2db";
}
.flaticon-ring:before {
	content: "\2da";
}
.flaticon-tilde:before {
	content: "\2dc";
}
.flaticon-commaaccent:before {
	content: "\326";
}
